<div id="word-cloud"></div>
<script>
    import * as d3 from 'd3';
    import * as cloud from 'd3-cloud';
    var reader = new FileReader();
    document.getElementById('input-file').addEventListener('change', function (e) {
        if (e.target.files.length > 0) {
            console.log('File: ', e.target.files);
            var file = e.target.files[0];
            console.log('File: ', file);
            reader.addEventListener('load', parseFile, false);
            if (file) {
                reader.readAsText(file);
            }
        }
    });

    function parseFile() {
        var fileData = JSON.parse(reader.result);
        console.log('Word cloud data: ', fileData);
        document.getElementById('word-cloud').style.display = 'block';
        // List of words
        var myWords = [
            { word: 'Running', size: '1000' },
            { word: 'Surfing', size: '1000' },
            { word: 'Climbing', size: '100' },
            { word: 'Kiting', size: '100' },
            { word: 'Sailing', size: '100' },
            { word: 'Snowboarding', size: '10' },
        ];

        // set the dimensions and margins of the graph
        var margin = { top: 10,
            right: 10,
             bottom: 10,
             left: 10 };
        var width = 500;


        var height = 500;


        // append the svg object to the body of the page
        var svg = d3
            .select('#word-cloud')
            .append('svg')

            .attr('width', width + margin.left + margin.right)

            .attr('height', height + margin.top + margin.bottom)

            .append('g')
            .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');

        // Constructs a new cloud layout instance. It run an algorithm to find the position of words that suits your requirements
        // Wordcloud features that are different from one word to the other must be here
        var layout = cloud()

            .size([width, height])
            .words(

                myWords.map(function (d) {

                    return { text: d.word, 
                        size: d.size };
                })
            )
            .padding(5) //space between words
            .rotate(function () {
                return ~~(Math.random() * 2) * 90;
            })
            .fontSize(function (d) {
                return d.size;
            }) // font size of words
            .on('end', draw);
        layout.start();

    }

    /////////////////////////////////////////////////////////
</script>
