---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import BarChartRace from '~/components/BarChartRace.astro';
import MostListenedTrack from '~/components/MostListenedTrack.astro';
import SleepStatistics from '~/components/SleepStatistics.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <div class="flex items-center justify-center flex-col">
    <embed src={'decoration.html'} height="170" width="300" title="decoration" />
  </div>

  <!-- Hero Widget ******************* -->
  <Hero>
    <Fragment slot="title">Spotify twisters</Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">SpotifyTwister</span> is a research tool built by EPFL students to learn more about how
        is your personal data being used by Spotify.
      </span>
      <div>
        <input type="file" id="input-file" multiple/>
      </div>

    </Fragment>
  </Hero>

  <div class="flex items-center justify-center flex-col w-full">
      <MostListenedTrack />
  </div>
  <div class="flex items-center justify-center flex-col w-full py-24">
    <SleepStatistics />
</div>
  <div class="flex items-center justify-center flex-col pb-10" style="margin-top:2em">
    <BarChartRace />
  </div>

  <!-- <div class="flex items-center justify-center flex-col">
    <embed src={'spider.html'} height="600" width="800" title="spider" />
    <embed src={'spider_valence.html'} height="600" width="800" title="spider_valence" />
    <h1>World cloud of your played songs</h1>
    <img src={'cloudwords.jpg'} height="450" width="450" title="wordl_cloud" />
  </div>
  <div class="flex items-center justify-center flex-col" style="margin-top:2em;">
    <h1>State of mind</h1>
    <embed src={'map.html'} height="500" width="900" title="map_blob" />
  </div> -->
</Layout>
